**DSA THEORETICAL QUESTIONS**

Q--What are data structures, and why are they important?

Ans Data structures are organized ways of storing and managing data so it can be used efficiently.

1) They are important because:
2) They allow efficient data storage, retrieval, and modification.
3) They improve algorithm performance (e.g., searching in O(1) with hash tables vs O(n) in lists).
4) They provide specialized operations (like insertion order in lists, uniqueness in sets, key-value mapping in dictionaries)

Q--Explain the difference between mutable and immutable data types with examples


Ans- Mutable: Can be changed after creation.
Examples → list, dict, set

Immutable: Cannot be changed after creation.
Examples → tuple, string

Q--What are the main differences between lists and tuples in Python

Ans- List
A list in Python is a mutable sequence of elements, which means its contents can be changed after creation. Lists are defined using square brackets [ ] and can store multiple data types such as integers, strings, floats, or even other lists. Since they are mutable, elements can be added, removed, or modified using various built-in methods like append(), remove(), sort(), etc. Lists generally take a little more memory and are slower than tuples because of their flexibility. They are most useful when the data is expected to change frequently, such as storing student names, numbers, or dynamic datasets.

Tuple

A tuple in Python is an immutable sequence of elements, which means its contents cannot be altered once it is created. Tuples are defined using parentheses ( ) and, like lists, can hold elements of different data types. Because of immutability, tuples support only limited methods such as count() and index(). They are faster in execution and require less memory compared to lists. Tuples are useful in situations where the data must remain constant and secure, for example, representing fixed values such as coordinates (x, y) or days of the week. Tuples can also be used as dictionary keys, which lists cannot, due to their immutability.

Q--Describe how dictionaries store data

Ans- Dictionaries use a hash table internally.
Keys are hashed → converted to an index in memory.
Values are stored at that index.
This allows O(1) average time complexity for lookups.

Q--Why might you use a set instead of a list in Python

Ans- Sets automatically remove duplicates.
Membership checks (x in set) are faster (O(1)) compared to lists (O(n)).

Q--What is a string in Python, and how is it different from a list

Ans- A string is a sequence of characters, immutable.
A list is a sequence of elements (any data type), mutable.

In [ ]:
s = "hello"   # cannot modify s[0]
l = ['h','e','l','l','o']  # can modify l[0] = 'H'

Q--How do tuples ensure data integrity in Python

Ans- Since tuples are immutable, their values cannot be modified after creation.
This ensures the stored data remains safe, consistent, and unchanged.

Q-- What is a hash table, and how does it relate to dictionaries in Python

Ans- A hash table stores data in key–value pairs using a hash function.
Python dictionaries are implemented using hash tables → fast access, insertion, and deletion.

Q-- Can lists contain different data types?

Ans- Yes

In [ ]:
l = [10, "hello", 3.5, True]

Q--  Explain why strings are immutable in Python

In [ ]:
Ans- Strings are immutable to ensure memory safety and security.
They can be cached and reused efficiently by Python (string interning).
Prevents accidental modification of shared data.

Q--  What advantages do dictionaries offer over lists for certain tasks

Ans- Direct access using keys (O(1)), unlike list which needs index searching (O(n)).
Better for mapping relationships (e.g., student name → marks).
More readable and meaningful data structure.

Q--  Describe a scenario where using a tuple would be preferable over a list

Ans- When you want data to remain unchanged (like coordinates (x,y), configuration values, days of the week).

Tuples can be used as keys in dictionaries (lists cannot, since they are mutable).

Q-- How do sets handle duplicate values in Python

Ans- Sets automatically remove duplicates when elements are inserted.

In [ ]:
s = {1, 2, 2, 3}
print(s)  # {1, 2, 3}

Q--How does the “in” keyword work differently for lists and dictionaries

Ans- For lists: in checks whether an element exists (linear search).

For dictionaries: in checks whether a key exists (hash lookup).

In [ ]:
l = [1,2,3]; print(2 in l)        # True (checks elements)
d = {'a':1,'b':2}; print('a' in d) # True (checks keys only)

Q--  Can you modify the elements of a tuple? Explain why or why not

Ans- No
Tuples are immutable.
You cannot change, add, or remove items once created.

Q-- What is a nested dictionary, and give an example of its use case

Ans-A dictionary inside another dictionary.
Used for structured data.

In [ ]:
students = {
  "101": {"name":"Leena", "age":23},
  "102": {"name":"Kittu", "age":21}
}

Q--Describe the time complexity of accessing elements in a dictionary

Ans- Average case: O(1) (direct hash lookup).

Worst case: O(n) (if many hash collisions occur, rare in Python).

Q--In what situations are lists preferred over dictionaries

Ans-When order matters.

When you only need indexed access (not key-value).

When data is simple and small (e.g., storing student roll numbers [1,2,3]).

Q--Why are dictionaries considered unordered, and how does that affect data retrieval

Ans- Before Python 3.7, dictionaries did not guarantee order.
Even now, although insertion order is preserved, conceptually they are unordered because keys are hashed.
This doesn’t affect retrieval since lookup is by key, not by order.

Q-- Explain the difference between a list and a dictionary in terms of data retrieval.

Ans- A list in Python retrieves data based on a numeric index position. Each element in the list is stored sequentially, and you can access it using its index, starting from 0. For example, in marks = [90, 85, 75], the element at index 1 can be retrieved using marks[1], which gives 85. Retrieval is simple but depends only on position, not meaning.

On the other hand, a dictionary retrieves data using a key instead of an index. A dictionary stores elements as key–value pairs, where each key is unique and directly maps to a value. For example, in student = {"name": "Leena", "age": 23}, you can retrieve the value of "name" using student["name"], which gives "Leena". This makes dictionaries more meaningful for data retrieval, as you access values using descriptive keys rather than numeric positions.

---



---

**PRACTICAL QUESTIONS**

Q-- Write a code to create a string with your name and print it

In [ ]:
str = "Leena"
print(str)

Q-- Write a code to find the length of the string "Hello World

In [ ]:
str = "Hello world"
print(len(str))

11

Q-- Write a code to slice the first 3 characters from the string "Python Programming

In [ ]:
str = 'Python Programming'
print(str[0:3])

Q-- Write a code to convert the string "hello" to uppercase

In [ ]:
str ='hello'
print(str.upper())

HELLO

Q--  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
str = 'I like apple'
m=str.replace('apple','orange')
print(m)

I like orange

Q-- Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

Q-- Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list2 = [1,2,3,4]
list2.append(10)
print(list1)

[1, 2, 3, 4, 5]

Q-- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

Q-- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list4 = ['a','b','c','d']
print(list4[1])

b

Q-- Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list5 = [10,20,30,40,50]
print(list5[::-1])

[50, 30, 10]

Q-- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup1 = (100,200,300)
print(tup1)

(100, 200, 300)

Q-- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup2 = ('red','green','blue','yellow')
print(tup2[2])

blue

Q-- Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
tup3 = (10,20,5,15)
print(min(tup3)

Q-- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup4 = ('dog','cat','rabbit')
print(tup4.index('cat'))

Q--  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
tup5 = ('Pine','Kiwi','Dragonfruit')
if 'Kiwi' in tup5:
  print('yes')
else:
  print('no')

yes

Q--  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

Q-- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

Q-- Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
set3 = {1,2,3,4}
print(set3)
set3.remove(4)
print(set3)

{1, 2, 3}

Q--  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set7 = {1,2,3}
set8 = {3,4,5}
print(set7 | set8)

{1, 2, 3, 4, 5}

Q-- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set9 = {1,2,3}
set0 = {2,3,4}
print(set9 & set0)

{2, 3}

Q-- Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
D1 = {'name':'Shubham','age':24,'city':'varanasi',}
print(D1)

{'name': 'Shubham', 'age': 24, 'city': 'varanasi'}

Q--Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
D2 = {'name':'John','age':25}
D2['county']='USA'
print(D2)

{'name': 'John', 'age': 25, 'county': 'USA'}

Q-- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
D3 = {'name':'Alice','age':30}
print(D3['name'])

Alice

Q-- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
D3 = {'name':'bob','age':22,'city':'New York'}
print(D3)
del D3['age']
print(D3)

{'name': 'bob', 'age': 22, 'city': 'New York'}
{'name': 'bob', 'city': 'New York'}

Q-- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
D4 = {'name':'Alice','City':'Paris'}
if 'City' in D4:
  print('YEs')
else:
  print('No')

YEs

Q-- Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Code for creating a list
List = [1,2,4,8,16]
print(List)

# Code for creating a tuple
Tupl = (1,4,7,9)
print(Tupl)

# Code for creating a Dictionary
Dict = {'Name':'Shubham', 'Age':24}
print(Dict)

[1, 2, 4, 8, 16]
(1, 4, 7, 9)
{'Name': 'Shubham', 'Age': 24}

Q--  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
List1 = [45,81,12,6,39]
List1.sort()
print(List1)

[6, 12, 39, 45, 81]

Q-- Write a code to create a list with strings and print the element at the third index

In [ ]:
Li_st = ['Leena','Meena','Teena','Deena','cheena']
print(Li_st[3])

Deena

Q-- Write a code to combine two dictionaries into one and print the result.

In [ ]:
D1 = {'Name':'Adhya','Age':23}
D2 = {'City':'Delhi' }
combined = D1 | D2
print(combined)

{'Name': 'Adhya', 'Age': 23, 'City': 'Delhi'}

Q-- Write a code to convert a list of strings into a set.

In [29]:
fruit_list = ['Orange','Papaya','Lemon','Kiwi']
fruit_set = set(fruit_list)
print(fruit_set)

{'Orange', 'Lemon', 'Kiwi', 'Papaya'}